.elements {
  display: inline-block;
}

.about,
.store,
.images {
  padding: 15px;
}

.profile-img {
  border-radius: 50%;
}

.google-img {
  max-height: 92px;
  max-width: 275px;
}

.bottom-elements {
  display: inline-block;
}
